<h1>New Place</h1>

<%= form_with model: @place, url: places_path, method: :post, local: true, html: { multipart: true } do |f| %>
  <div class="mb-3">
    <%= f.label :name, "Place Name", class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :image, "Upload Image", class: "form-label" %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <%= f.submit "Create Place", class: "btn btn-primary" %>
<% end %>
